* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

.navbar {
    position       : fixed;
    top            : 0;
    left           : 0;
    display        : flex;
    width          : 100%;
    justify-content: space-between;
    padding        : 10px;
    color          : whitesmoke;
}

.active-nav {
    background     : rgba(212, 20, 90, 0.8);
}


.navbar h1 {
    font-size: 4vmin;
}

.nav-links {
    display    : flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color          : whitesmoke;
}

ul {
    list-style: none;
}

.active {
    color          : whitesmoke;
    text-decoration: underline;
    font-weight    : bold;
}

body,
html {
    overflow-x: hidden;
}

header {
    width              : 100%;
    height             : 100vh;
    background-image   : linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)), url('https://media.istockphoto.com/photos/the-perfect-setting-to-complete-work-picture-id1251629816?b=1&k=20&m=1251629816&s=170667a&w=0&h=HFCKUXMAXu_gsKwAaVJ5Yfc5CpXhkok4Nu1KigsAXIQ=');
    background-position: bottom;
    background-size    : cover;
    display            : flex;
    align-items        : flex-end;
    justify-content    : center;
    animation          : slide 20s infinite;
}

@keyframes slide {
    25% {
        background-image: linear-gradient(rgba(196, 34, 34, 0.523),
                rgba(0, 0, 0, 0.5)), url('https://media.istockphoto.com/photos/the-more-you-know-the-more-your-business-grows-picture-id1292991881?b=1&k=20&m=1292991881&s=170667a&w=0&h=5QfHORbgcqTFyHbRp7L83YlVF-U5Mt-AsWXX2zBtOZ8=');
    }

    50% {
        background-image: linear-gradient(rgba(223, 51, 188, 0.2), rgba(0, 0, 0, 2)),
            url('https://media.istockphoto.com/photos/japanese-man-at-hand-using-a-smartphone-picture-id1252809376?b=1&k=20&m=1252809376&s=170667a&w=0&h=lBcsOo9jnpMDn-wDkIRuCSDdQ2MZyZ9X3Q0NuN9DHFg=');
    }

    75% {
        background-image: linear-gradient(rgba(54, 14, 154, 0.2), rgba(0, 0, 0, 3)),
            url('https://media.istockphoto.com/photos/service-staff-holding-credit-card-input-detail-for-payment-car-repair-picture-id1361840547?b=1&k=20&m=1361840547&s=170667a&w=0&h=Yvz8zi6WMOoGCbStx26e5tf_3PQEUIjV5sXgTbIx8yg=');
    }

    100% {
        background-image: linear-gradient(rgba(28, 188, 87, 0.2),
                rgba(0, 0, 0, 4)),
            url('https://media.istockphoto.com/photos/professional-developer-programmer-cooperation-meeting-and-and-in-picture-id1253430957?b=1&k=20&m=1253430957&s=170667a&w=0&h=OmsDttwIpXtQJGwqfB7Qv5HElbPaUMW4KPpv51h0emg=');
    }
}


.header-content {
    margin-bottom: 250px;
    color        : whitesmoke;
    text-align   : center;
}

.text-moment {
    animation: anim 5s infinite;
}

@keyframes anim {
    0% {
        margin-top: 0;
    }

    16% {
        margin-top: -30px;
    }

    33% {
        margin-top: -60px;
    }

    50% {
        margin-top: -90px;
    }

    66% {
        margin-top: -60px;
    }

    82% {
        margin-top: -30px;
    }

    100% {
        margin-top: 0;
    }
}

.header-content h2 {
    font-size: 4vmax;
}

.line {
    width        : 150px;
    height       : 4px;
    background   : #fc036b;
    margin       : 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size    : 7vmin;
    margin-top   : 50px;
    margin-bottom: 30px;
}

.ctn {
    padding      : 8px 15px;
    background   : #fc036b;
    border-radius: 30px;
    color        : whitesmoke;
}

.menu-btn {
    position: absolute;
    top     : 30px;
    right   : 30px;
    width   : 30px;
    cursor  : pointer;
}


/* events */

section {
    width : 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size : 4vmin;
    color     : #49497e;
}

.row {
    display        : flex;
    align-items    : center;
    width          : 100%;
    justify-content: space-between;
}

.row .col {
    display       : flex;
    flex-direction: column;
    align-items   : center;

}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 4vmin;
    color    : #484872;
    margin   : 20px auto;
}

p {
    color  : #7c7c7c;
    padding: 0px 40px;
}

.events .ctn {
    margin-top: 30px;
}

.col-img {
    width: 450px;
}

.card-color {
    background: #7c7c7c;
    width     : 100%;
}

.font-heading {
    font-size: 3vmin;
}

.card1 {
    box-shadow        : 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    margin-top        : 100px;
    display           : flex;
    align-items       : space-between;
    justify-content   : space-between;
    transition        : 0.3s;
}

.card1 div .text-color {
    color: whitesmoke;
}

.b-img {
    max-width     : 12 0%;
    vertical-align: middle;
    height        : 100%;
}


.card-mm {
    margin: 0;
}

.for-img {
    width : 100%;
    height: 100%;
}

.mar-common1 {
    margin-top: 160px;
}

.mar-common2 {
    margin-bottom: 100px;
}

.container {
    margin: 100px;
}

.card-text h4 {
    margin: 10px auto;
}

.card-text1 h4 {
    margin: 10px auto;
}

.card-text p {
    margin-bottom: 50px;
}

.m-card {
    margin-left: 95px;
}

.chng-div p {
    margin-left: 95px;
}

.mar-right {
    margin-right: 350px;
}

.grid-container {
    display              : grid;
    grid-template-columns: auto auto auto;
    padding              : 10px;
}

.grid-item {
    padding   : 20px;
    font-size : 30px;
    text-align: center;
}

.slide:first-child {
    animation: anim 8s infinite;
}

.last {
    background     : #d4145a;
    padding        : 30px;
    color          : whitesmoke;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.img-p {
    margin-right: 50px;
}

.event h1 {
    margin-top     : 100px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-size      : 4vmin;
}

.event p {
    margin: 30px 100px;
    font-size: 1.5rem;
}

.grid-container1 {
    display              : grid;
    grid-template-columns: auto auto auto auto;
    grid-gap             : 30px;
    padding              : 10px;
    overflow             : hidden;
}

.grid-container1 .b-para {
    background: #3a0061;
}

.grid-container1>div {
    background: #fff;
    text-align: center;
    padding   : 20px 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-m {
    margin-left: 30px;
}

.card:hover {
    border: 2px solid rgba(212, 20, 90, 0.8);
    ;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.explore {
    width              : 100%;
    height             : 100vh;
    background-image   : url('https://bluemogulenterprise.com/wp-content/uploads/2019/10/managed-services.jpg');
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
    display            : flex;
    align-items        : center;
}

.explore-content {
    width         : 60%;
    padding       : 50px;
    color         : coral;
    display       : flex;
    align-items   : center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 5vmin;
}

.explore-content p {
    color: whitesmoke;
    font-size: 1.2rem;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content .ctn {
    margin-top: 40px;
}

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.grid-container11 {
    display              : grid;
    grid-template-columns: auto auto;
    padding              : 30px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding         : 10px;
    text-align      : center;
}

.grid-item p {
    font-size: 1rem;
    margin: 0;
}

.common-margin {
    margin-top: 100px;
    
}

.common-margin p {
    color: black
}

.grid-img:hover {
    transform: scale(1.1);
}

.item2 {
    grid-area  : menu;
    margin-left: 50px;
}

.item3 {
    grid-area: main;
}

.item4 {
    grid-area: right;
}

.item5 {
    grid-area: footer;
}

.footer {
    width     : 100%;
    min-height: 100px;
    padding   : 20px 0px;
    margin    : 0;
    background: #3a0061;
    text-align: center;
}

.footer p {
    color : whitesmoke;
    margin: 20px auto;
}

.grid-container3 {
    display              : grid;
    grid-template-columns: auto auto auto auto;
    grid-gap             : 10px;
    padding              : 10px;
}

.slide:first-child {
    animation: anim 8s infinite;
}

.last {
    background     : #d4145a;
    padding        : 30px;
    color          : whitesmoke;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.last p {
    color: whitesmoke;
}




@media only screen and (max-width : 1150px) {

    .card1 {
        display: block;
    }

    .card1 .container {
        padding-top: 30px;
    }

    .b-img {
        width: 100%;
    }

    .grid-container11 {
        display: block;
    }

    .grid-container3 {
        grid-template-columns: auto auto;
    }

}